.s-principal {
  position: relative;
  width: 100%;

   > header {
    top: 0;
    z-index: 999;
    background-color: $white;
    position: fixed;
    @include display-flex(space-between, center, row);
    padding: 0 1.6rem;
    width: 100%;
    height: 6rem;
    border-bottom: 0.1rem solid $border-gray;
    display: none;

    .logo {
      display: block;
      width: 10.3rem;
      height: 2.9rem;
      background-image: url(../img/logo-insta.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .input-notificacao {
      @include display-flex(flex-end, center, row);
      width: 100%;
    }
  }

  .areas {
    width: 100%;
    @include display-flex(space-between, initial, row);

    .left {
      width: 100%;
      max-width: 24.4rem;
      height: 100vh;
      position: relative;
      transition: all 0.2s;

      .menu {
        background-color: $white;
        padding: 4rem 1.2rem;
        position: fixed;
        border-right: 0.1rem solid $border-gray;
        width: 100%;
        max-width: 24.4rem;
        height: 100%;
        z-index: 999;

        .logo {
          margin-left: 1.2rem;
          margin-bottom: 3.1rem;
          display: block;
          width: 100%;
          max-width: 10.3rem;
          height: 2.9rem;
          background-image: url(../img/logo-insta.svg);
          background-repeat: no-repeat;
          transition: all 0.2s;
        }

        nav {
          width: 100%;
          height: 93%;
          @include display-flex(space-between, flex-start, column);

          ul {
            width: 100%;
            @include display-flex(initial, flex-start, column);
            gap: 1.2rem;

            li {
              width: 100%;

              .btn-menu {
                cursor: pointer;
                .notificacao-alerta {
                  position: absolute;
                  border-radius: 0.8rem;
                  right: 0.5rem;
                  padding: 1.2rem;
                  background-color: $red;
                  @include display-flex(initial, center, row);
                  gap: 0.4rem;

                  .alert {
                    font-size: 1.5rem;
                    color: $white;
                    margin: 0;
                  }

                  &:before {
                    background-color: $red;
                    border-radius: 0.4rem;
                    position: absolute;
                    content: "";
                    width: 1.5rem;
                    height: 1.5rem;
                    left: -0.6rem;
                    transform: rotate(45deg);
                  }
                }
              }
            }
          }

          .btn-mais {
            width: 100%;
            position: relative;
            .btn-menu {
              cursor: pointer;
              width: 100%;
            }

            .drop-mais {
              top: -27rem;
              position: absolute;
              width: 100%;
              min-width: 26.6rem;
              background-color: $white;
              @include display-flex(initial, initial, column);
              box-shadow: -0.2em 0 4.4rem rgba(0, 0, 0, 0.25);
              border-radius: 1.6rem;
              display: none;

              .pages {
                padding: 0.8rem;
              }

              a {
                border-radius: 0.8rem;
                height: 5rem;
                width: 100%;
                @include display-flex(initial, center, row);
                gap: 1.2rem;
                padding: 0 1.6rem;
                color: $black;

                span {
                  font-size: 1.3rem;
                }

                &:hover {
                  background-color: rgba(0, 0, 0, 0.05);
                }
              }

              .espaco1 {
                height: 0.6rem;
                background-color: rgba(219, 219, 219, 0.3);
              }

              .espaco2 {
                height: 0.1rem;
                background-color: rgba(219, 219, 219, 0.3);
              }
            }
          }
        }
      }

      .search {
        margin-left: -50rem;
        left: 7.4rem;
        position: fixed;
        z-index: 998;
        width: 100%;
        max-width: 39.7rem;
        min-width: 39.7rem;
        height: 100vh;
        transition: margin 0.5s;

        .search-body {
          overflow-y: scroll;
          background-color: $white;
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: 1.4rem 0 2.4rem rgba(0, 0, 0, 0.15);
          border-right: 0.1rem solid $border-gray;
          border-top-right-radius: 1.6rem;
          border-bottom-right-radius: 1.6rem;

          .search-peoples {
            padding: 2.3rem 1.7rem;
            width: 100%;
            border-bottom: 0.1rem solid $border-gray;

            h3 {
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 3rem;
              margin-bottom: 3.86rem;
            }

            .input-pesquisar {
              max-width: 100%;

              input {
                width: 100%;
              }
            }
          }

          .search-results {
            width: 100%;
            @include display-flex(initial, center, column);

            .recents {
              width: 100%;
              padding: 1.8rem 2.5rem;
              @include display-flex(space-between, center, row);

              h4 {
                font-size: 1.5rem;
                font-weight: 600;
              }

              button {
                font-size: 1.4rem;
              }
            }

            .list-peoples {
              width: 100%;

              .people-profile {
                cursor: pointer;
                background-color: $white;
                padding: 0.8rem 2.4rem;
                width: 100%;
                @include display-flex(space-between, center, row);

                .info {
                  @include display-flex(initial, center, row);
                  gap: 1.2rem;

                  img {
                    width: 4.4rem;
                    height: 4.4rem;
                    object-fit: cover;
                    border-radius: 5rem;
                  }

                  .text {
                    p {
                      font-size: 1.3rem;
                      font-weight: 600;
                      color: $black;
                    }

                    h4 {
                      font-size: 1.4rem;
                      font-weight: 400;
                      color: $gray;
                    }
                  }
                }

                &:hover {
                  background-color: $input;
                }
              }
            }
          }
        }
      }

      .notificacoes {
        margin-left: -50rem;
        left: 7.4rem;
        position: fixed;
        z-index: 998;
        width: 100%;
        max-width: 39.7rem;
        min-width: 39.7rem;
        height: 100vh;
        transition: margin 0.5s;

        .notificacoes-body {
          overflow-y: scroll;
          background-color: $white;
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: 1.4rem 0 2.4rem rgba(0, 0, 0, 0.15);
          border-right: 0.1rem solid $border-gray;
          border-top-right-radius: 1.6rem;
          border-bottom-right-radius: 1.6rem;

          .notificacoes-title {
            padding: 0 2.4rem;
            padding-top: 1.85rem;

            h3 {
              font-size: 2.4rem;
              font-weight: 700;
            }
          }

          .notificacoes-todas {
            .notificacoes-list {
              border-bottom: 0.1rem solid $border-gray;
              padding-bottom: 1.2rem;

              h4 {
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: 1.32rem;
                padding: 0 2.4rem;
                padding-top: 1.85rem;
              }

              .notificacoes-profile {
                cursor: pointer;
                background-color: $white;
                padding: 0.8rem 2.4rem;
                width: 100%;
                @include display-flex(space-between, center, row);

                .info {
                  @include display-flex(initial, center, row);
                  gap: 1.2rem;

                  img {
                    width: 4.4rem;
                    height: 4.4rem;
                    object-fit: cover;
                    border-radius: 5rem;
                  }

                  .text {
                    p {
                      font-size: 1.4rem;
                      word-wrap: break-word;
                      max-width: 20rem;

                      .profile {
                        font-weight: 600;
                        color: $black;
                      }

                      .time {
                        font-weight: 400;
                        color: $gray;
                        margin-left: 0.5rem;
                      }
                    }

                    h4 {
                      font-size: 1.4rem;
                      font-weight: 400;
                      color: $gray;
                    }
                  }
                }

                .botao-padrao {
                  min-width: 8rem;
                }

                .pub-ligada {
                  img {
                    width: 4.4rem;
                    height: 4.4rem;
                    object-fit: cover;
                  }
                }

                &:hover {
                  background-color: $input;
                }
              }
            }
          }
        }
      }
    }

    .right {
      width: 100%;

      .container {
        @include display-flex(space-between, flex-start, row);
        gap: 5rem;

        .storys-posts {
          width: 100%;
          max-width: 63rem;
          @include display-flex(initial, center, column);
          margin-top: 3rem;

          .storys {
            margin-bottom: 1.6rem;
            width: 100%;
            padding: 1.6rem 0;
            background-color: $white;
            border-radius: 0.8rem;
            height: 11.7rem;
            @include display-flex(initial, flex-start, row);

            .swiper {
              width: 100%;

              .swiper-wrapper {
                .swiper-slide {
                  min-width: 7.875rem;

                  .story {
                    cursor: pointer;
                    @include display-flex(initial, flex-start, column);
                    .info {
                      @include display-flex(initial, center, column);
                      gap: 0.3rem;

                      .foto {
                        @include story-foto(6.6rem);

                        img {
                          object-fit: cover;
                        }
                      }

                      p {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        max-width: 6.6rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                      }
                    }
                  }
                }
              }

              .swiper-button-next {
                &::after {
                  content: "";
                  width: 4rem;
                  height: 4rem;
                  background-image: url(../img/btn-next.svg);
                  background-repeat: no-repeat;
                }

                &.swiper-button-disabled {
                  opacity: 0.2 !important;
                }
              }

              .swiper-button-prev {
                &::after {
                  margin-left: -1.5rem;
                  content: "";
                  width: 4rem;
                  height: 4rem;
                  background-image: url(../img/btn-prev.svg);
                  background-repeat: no-repeat;
                }

                &.swiper-button-disabled {
                  opacity: 0.2 !important;
                }
              }
            }
          }

          .posts {
            @include display-flex(initial, center, column);
            gap: 1rem;
            width: 100%;

            .publicacao {
              &:last-child {
                border: none;
              }
            }
          }
        }

        .sugestoes {
          width: 100%;
          max-width: 35.1rem;
          min-width: 31.1rem;
          margin-top: 5.5rem;

          .perfil {
            @include display-flex(space-between, center, row);
            margin-bottom: 1.5rem;

            .foto-info {
              @include display-flex(initial, center, row);
              gap: 1.8rem;

              .foto {
                cursor: pointer;
                @include story-foto(5.6rem);

                img {
                  width: 5.6rem;
                  height: 5.6rem;
                  object-fit: cover;
                  border-radius: 5rem;
                }
              }

              .info {
                p {
                  font-size: 1.4rem;
                  line-height: 1.8rem;
                  font-weight: 600;
                }

                h4 {
                  font-size: 1.4rem;
                  line-height: 1.8rem;
                  color: $gray;
                  font-weight: 400;
                }
              }
            }
          }

          .sugestoes-voce {
            .ver-tudo {
              @include display-flex(space-between, center, row);
              margin-bottom: 1.7rem;

              h5 {
                font-size: 1.3rem;
                font-weight: 600;
                color: $gray;
                line-height: 1.8rem;
              }

              a {
                color: $black;
                line-height: 1.8rem;
              }
            }

            .sugestao-pessoas {
              padding: 0 0.4rem;
              @include display-flex(initial, initial, column);
              gap: 1.6rem;

              .pessoa {
                @include display-flex(space-between, center, row);

                .foto-info {
                  @include display-flex(initial, center, row);
                  gap: 1.2rem;

                  img {
                    width: 3.2rem;
                    height: 3.2rem;
                    object-fit: cover;
                    border-radius: 5rem;
                  }

                  .info {
                    h6 {
                      font-size: 1.4rem;
                      font-weight: 600;
                      line-height: 1.8rem;
                    }

                    p {
                      font-size: 1.2rem;
                      line-height: 1.6rem;
                      color: $gray;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .menu-mobile {
    display: none;
    border-top: 0.1rem solid $border-gray;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 4.9rem;
    background-color: $white;
    bottom: 0;

    .menu {
      width: 100%;
      height: 100%;

      nav {
        ul {
          @include display-flex(space-around, center, row);
        }
      }
    }
  }

  @include responsive(1266px) {
    .areas {
      .left {
        max-width: 7.4rem !important;

        .menu {
          max-width: 7.4rem !important;

          .logo {
            max-width: 2.9rem !important;
            background-image: url(../img/logo-insta-mini.svg) !important;
          }

          nav {
            ul {
              width: auto !important;

              li {
                width: auto !important;

                .btn-menu {
                  span {
                    &:not(&.alert) {
                      display: none;
                    }
                  }

                  .notificacao-alerta {
                    right: -6.5rem !important;
                  }
                }
              }
            }

            .btn-mais {
              .btn-menu {
                span {
                  display: none;
                }
              }
            }
          }
        }
      }

      .right {
        .container {
          justify-content: center;

          .sugestoes {
            display: none;
          }
        }
      }
    }
  }

  @include responsive(766px) {
    header {
      display: flex;
    }

    .areas {
      padding-top: 4rem;

      .left {
        display: none;
      }
    }

    .menu-mobile {
      display: block;
    }
  }

  @include responsive(640px) {
    .areas {
      .right {
        .container {
          padding: 0;
        }
      }
    }
  }

  @include responsive(468px) {
    header {
      gap: 3rem;
      .logo {
        width: 2.9rem;
        min-width: 2.9rem;
        background-image: url(../img/logo-insta-mini.svg);
      }
    }
  }
}
