$white: #FFFFFF;
$red: #FF3040;
$blue: #0095f6;
$blue-disabled: #B3DBFF;
$black: black;
$gray: #737373;
$gray-button: #EFEFEF;
$marker: #00376B;
$border-gray: #DBDBDB;
$input: #FAFAFA;
$color-name-perfil: #262626;
$amigos-p: #1CD14F;
$borda-linhas: #73737352;
$btn-ativo: #EFEFEF;